<div class="container">
  <h2>Lista de productos</h2>

  <div class="actions">
    <button class="btn btn-add" (click)="agregar()">Agregar producto</button>
    <button class="btn btn-clear" (click)="limpiarLista()">Reiniciar lista</button>
  </div>

  <app-producto-form
    *ngIf="showForm"
    [producto]="productoEditar"
    (guardar)="guardarProducto($event)"
    (cancelar)="cancelarForm()"
  ></app-producto-form>

  <div *ngIf="!loading && products.length === 0" class="no-products">
  🧾 No hay productos disponibles
  </div>

  <ul class="product-list" *ngIf="!loading && products.length > 0">
    <li class="product-card" *ngFor="let product of products">
      <div>
        <h3>{{ product.nombre }}</h3>

        <p>Descripción: {{ product.descripcion }}</p>

        <p>Precio original: ${{ product.precio }}</p>

        <p>
          Precio con descuento: {{ porcentaje_descuento }}% →
          ${{ product.precio | descuento: porcentaje_descuento }}
        </p>

        <p>Fecha de alta: {{ product.fechaAlta | date:'dd-MM-yyyy' }}</p>

        <div class="card-actions">
          <button class="btn btn-edit" (click)="editar(product)">Editar</button>
          <button class="btn btn-delete" (click)="eliminar(product.id)">Eliminar</button>
        </div>
      </div>
    </li>
  </ul>
</div>
